www.festic.ru {
	redir https://festic.ru{uri}
}

festic.ru {
	reverse_proxy landing
}

app.festic.ru {
    reverse_proxy frontend
}

demo.festic.ru {
    reverse_proxy frontend-demo
}

api.festic.ru {
    root * /app/public
    encode gzip
    php_fastcgi backend:9000
    file_server
}

demo.api.festic.ru {
    root * /app-demo/public
    encode gzip
    php_fastcgi backend-demo:9000
    file_server
}
